<h2>Create a new space</h2>
<h4>Advertise your digs</h4>
<br>

<!-- <form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Enter space name">
  <input type="text" name="desc" placeholder="Describe your space">
  <input type="text" name="price"placeholder="£ per day">
  <input type="text" name="available_date"placeholder="DD/MM/YY">
  <input type="submit" value="Add new space">
</form> -->

<form role="form" action='/spaces' method='post'>
  <div class="form-group">
    <label for="name">Name your space:</label>
    <input type="text" name="name" placeholder="Enter space name" class="form-control">
  </div>
  <div class="form-group">
    <label for="desc">Describe it:</label>
    <input type="text" name="desc" placeholder="Describe your space" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Add price per night:</label>
    <input type="text" name="price" placeholder="£" class="form-control">
  </div>
  <div class="form-group">
    <label for="desc">Available dates:</label>
    <input type="text" name="available_date" placeholder="DD/MM/YY" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Add new space</button>
</form>
