<form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Enter space name">
  <input type="text" name="desc" placeholder="Describe your space">
  <input type="text" name="price"placeholder="£ per day">
  <input type="text" name="date"placeholder="DD/MM/YY">
  <input type="submit" value="Add new space">
</form>
