<h2>Create a Makers BnB account</h2>

<form action='/user' method='post'>
  <label for='email'>
    <input type='text' name='email' placeholder='email address' >
  </label>
  <label for='password'>
    <input type='password' name='password' placeholder='password'>
  </label>
  <input type='submit' value='Sign up'>
</form>
