<h2>Create a Makers BnB account</h2>

<form action='/user' method='post'>
  <label for='email'>
    <input type='email' name='email' placeholder='email address' required/>
  </label>
  <label for='password'>
    <input type='password' name='password' placeholder='password' required/>
  </label>
  <input type='submit' value='Sign up'/>
</form>
